In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r'C:\Users\srira\Downloads\winequality-red_2.csv')

In [5]:
df.head()

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,region,price
0,0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Colchagua Valley,64
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,Bordeaux,89
2,2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,La Rjoja,25
3,3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,Willamette,27
4,4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Marlborough,9

In [11]:
df.drop('Unnamed: 0',axis = 1,inplace = True)

In [12]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,region,price
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Colchagua Valley,64
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,Bordeaux,89
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,La Rjoja,25
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,Willamette,27
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Marlborough,9

Dot's neighbour said that he only likes wine from Stellenbosch, Bordeaux, and the Okanagan Valley, and that the sulfates can't be that high. The problem is, Dot can't really afford to spend tons of money on the wine. Dot's conditions for searching for wine are:

Sulfates cannot be higher than 0.6.
The price has to be less than $20.
Use the above conditions to filter the data for questions 2 and 3 below.

Questions:

Where is Stellenbosch, anyway? How many wines from Stellenbosch are there in the entire dataset?
After filtering with the 2 conditions, what is the average price of wine from the Bordeaux region?
After filtering with the 2 conditions, what is the least expensive wine that's of the highest quality from the Okanagan Valley?
Stretch Question:

What is the average price of wine from Stellenbosch, according to the entire unfiltered dataset?

In [17]:
(df['region'] == 'Stellenbosch').value_counts()

False    1564
True       35
Name: region, dtype: int64

In [39]:
filtered_df = df[(df['sulphates'] <= 0.6) & (df['price'] < 20)]

In [40]:
filtered_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,region,price
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Marlborough,9
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,Okanagan Valley,10
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7,Bordeaux,9
25,6.3,0.39,0.16,1.4,0.080,11.0,23.0,0.9955,3.34,0.56,9.3,5,Bordeaux,5
38,5.7,1.13,0.09,1.5,0.172,7.0,19.0,0.9940,3.50,0.48,9.8,4,Bordeaux,8

In [41]:
filtered_df.groupby(by = 'region')['price'].mean()

region
Bordeaux            11.300000
Colchagua Valley    13.200000
La Rjoja            12.241379
Marlborough          9.333333
Okanagan Valley     10.400000
Stellenbosch        17.333333
Willamette          11.647059
Name: price, dtype: float64

In [42]:
print("Q2 avg price of wines from Bordeaux: ",filtered_df[filtered_df['region']=='Bordeaux']['price'].mean())

Q2 avg price of wines from Bordeaux:  11.3

In [38]:
filtered_df.groupby(by = 'region').mean()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,price
region,,,,,,,,,,,,,
Bordeaux,7.747619,0.615476,0.210952,2.800000,0.083381,12.380952,34.523810,0.996187,3.326190,0.551905,10.266667,5.523810,11.714286
Colchagua Valley,8.072727,0.641818,0.227273,2.009091,0.092636,11.000000,43.090909,0.996128,3.300000,0.548182,10.345455,5.090909,13.818182
La Rjoja,8.656250,0.614063,0.269687,3.357813,0.085031,17.984375,58.890625,0.997187,3.264688,0.546250,10.206250,5.343750,12.968750
Marlborough,7.162500,0.757500,0.143125,2.356250,0.082687,19.187500,50.250000,0.995944,3.436875,0.547500,10.293750,5.312500,10.000000
Okanagan Valley,7.793750,0.525312,0.175625,2.284375,0.075188,17.437500,48.437500,0.995832,3.327500,0.542500,10.700000,5.437500,11.000000
Stellenbosch,8.666667,0.336667,0.356667,5.866667,0.064000,18.000000,71.666667,0.996373,3.226667,0.543333,10.200000,4.333333,17.333333
Willamette,7.568421,0.614211,0.145789,2.247368,0.078895,13.368421,39.789474,0.996118,3.377368,0.548421,10.547368,5.421053,12.526316

In [47]:
filtered_df[filtered_df['region'].str.contains("Okanagan Valley")].sort_values(['quality','price'],ascending=[False,True])

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,region,price
1025,8.6,0.830,0.00,2.80,0.095,17.0,43.0,0.99822,3.33,0.60,10.4,6,Okanagan Valley,4
1017,8.0,0.180,0.37,0.90,0.049,36.0,109.0,0.99007,2.89,0.44,12.7,6,Okanagan Valley,5
1127,6.3,0.760,0.00,2.90,0.072,26.0,52.0,0.99379,3.51,0.60,11.5,6,Okanagan Valley,5
1490,7.1,0.220,0.49,1.80,0.039,8.0,18.0,0.99344,3.39,0.56,12.4,6,Okanagan Valley,5
884,8.8,0.610,0.19,4.00,0.094,30.0,69.0,0.99787,3.22,0.50,10.0,6,Okanagan Valley,9
788,10.0,0.560,0.24,2.20,0.079,19.0,58.0,0.99910,3.18,0.56,10.1,6,Okanagan Valley,13
300,7.5,0.530,0.06,2.60,0.086,20.0,44.0,0.99650,3.38,0.59,10.7,6,Okanagan Valley,17
999,6.4,0.690,0.00,1.65,0.055,7.0,12.0,0.99162,3.47,0.53,12.9,6,Okanagan Valley,18
189,7.9,0.490,0.32,1.90,0.082,17.0,144.0,0.99680,3.20,0.55,9.5,5,Okanagan Valley,4
725,9.0,0.660,0.17,3.00,0.077,5.0,13.0,0.99760,3.29,0.55,10.4,5,Okanagan Valley,5
5,7.4,0.660,0.00,1.80,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5,Okanagan Valley,10
1272,5.9,0.460,0.00,1.90,0.077,25.0,44.0,0.99385,3.50,0.53,11.2,5,Okanagan Valley,11
252,11.1,0.350,0.48,3.10,0.090,5.0,21.0,0.99860,3.17,0.53,10.5,5,Okanagan Valley,15
1355,6.1,0.320,0.25,1.80,0.086,5.0,32.0,0.99464,3.36,0.44,10.1,5,Okanagan Valley,17
1553,7.3,0.735,0.00,2.20,0.080,18.0,28.0,0.99765,3.41,0.60,9.4,5,Okanagan Valley,18