In [6]:
import pandas as pd

df = pd.read_csv(r'C:\Users\srira\Downloads\winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

Challenge
Use the pandas sort function and the pandas filter function from the previous challenge to answer these questions:

Which wines had a quality of 8 or higher and a residual sugar level above 5?
How many wines in total had a quality of 8 and 7 and a citric acid level below 0.4?
Note: Use the index positions of the wines as the wine names.

In [20]:
qual = (df['quality'] >= 8) & (df['residual sugar'] >=5.0)

In [24]:
print(df[qual].index)

Int64Index([278, 455], dtype='int64')

In [56]:
qual_7_8 = ((df['quality'] == 8) | (df['quality'] == 7)) & (df['citric acid'] < 0.4)

In [57]:
df[qual_7_8].shape

(105, 12)